# Exercícios Práticos - Árvores de Decisão

Os exercícios teóricos estão disponíveis em um forms [aqui](https://forms.gle/bUE2coVs23YkuvF8A).

[Bruno Gomes Coelho](https://github.com/BrunoGomesCoelho) - bruno.gomes.coelho@usp.br

Esses exercícios visam aumentar a prática com o Scikit-Learn em geral.

In [1]:
# Importar as bibliotecas padrões: Numpy e Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Vamos carregar um conjunto de dados já pronto - Preços de casa em Boston
from sklearn.datasets import load_boston

In [4]:
data = load_boston()
df = pd.DataFrame(data.data, columns=data.feature_names)
df["target"] = data.target

In [5]:
# Verificar o dataset
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

<center> Agora é com vocês :) </center>

# Divide os dados em X e Y

In [6]:
# ...



- - - 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Dividindo os dados em Treino e teste.

Use 30% para o teste.

OPCIONAL: Pesquise o que o parâmetro "stratify" da função do Sklearn de divisão faz; Quando isso pode ser útil?

In [7]:
# ...



- - - 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Importe uma regressão linear sem regularização e treine ela

Qual o erro absoluto médio obtido? Lembre-se que nos preocupamos com a métrica no teste :)

In [8]:
# ...



- - - 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Normalize os dados e compare os erros quadráticos médios

In [9]:
# ...



- - - 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Agora use as regressões regularizadas (Ridge e LASSO) nos dados não normalizados

In [10]:
# ...



- - - 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Por fim use as regularizadas nos dados normalizados e compare

In [11]:
# ...

Até semana que vem :)